body {
    margin: 5px;
    background-image: url("../images/background.jpg");
}

.header {
    font-size: 40px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ca7028;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
}

.instructions {
    background-color: #fbe6cc;
    padding-top: 20px;
    padding-bottom: 100px; 
    margin-bottom: 10px;   
    width: 50%;
    padding-left: 10px;
}

p {
    color: green;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }

#guessingNumber {
    box-sizing: border-box;
    height: 120px;
    background-color: #5cc881;
    padding-bottom: 100px;
    font-size: 36px;
    float: left;
    width: 250px;
    margin-right: 10px;

}

.container {
    box-sizing: border-box;
    height: 120px;
    float: left;
    background-color: #4afdfa;
    padding-top: 10px;
    padding-bottom: 90px;
    margin-bottom: 10px;
}

#wins {
    margin: 5px;
}

#losses {
    margin: 5px;
}

#crystal0 {
    float: left; 
    width: 70px;
    height: 70px;
    margin: 2px;
}

#crystal1 {
    float: left; 
    width: 70px;
    height: 70px;
    margin: 2px;
}

#crystal2 {
    float: left; 
    width: 70px;
    height: 70px;
    margin: 2px;
}

#crystal3 {
    float: left; 
    width: 70px;
    height: 70px;
    margin: 2px;
}

.score-text {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #299b90;
    width: 25%;
}

#score-number {
    padding-bottom: 50px;
    font-size: 36px;
    height: 70px;
    color: white;
    background-color: #299b90;
    width: 25%;
}